.places__place__website__url-heading {
	width: 484px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.2em;
	color: #AAAAAA;
	list-style-type: none;
	margin: 0;
	padding-top: 20px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.places__place__website__url-heading {
		width: 484px;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.2em;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.places__place__website__url-heading {
		width: 456px;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.2em
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.places__place__website__url-heading {
		width: 352px;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.2em
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.places__place__website__url-heading {
		display: none;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.places__place__website__url-heading {
		display: none;
	}
}	