.comments__container__item {
	display: flex;
	position: relative;
	margin-right: 300px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.comments__container__item {
		margin-right: 300px
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.comments__container__item {
		margin-right: 214px
	}	 
}

/*medium screen*/
@media screen and (max-width: 768px) {
	.comments__container__item {
		display: block;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.comments__container__item {
		display: block;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.comments__container__item {
		display: block;
	}
}