.intro__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 35px 0;
    padding: 0;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*big screen*/
@media screen and (min-width: 1024px) {
    .intro__subtitle {
        max-width: 682px;
    }
}

