/*places styles*/
@import url(./__place/places__place.css);
@import url(./__place/__title/places__place__title.css);
@import url(./__place/__image/places__place__image.css);
@import url(./__place/__left-column/places__place_left-column.css);
@import url(./__place/__right-column/places__place__right-column.css);
@import url(./__place/__website/places__place__website__url.css);
@import url(./__place/__website/places__place__website__url-heading.css);
@import url(./__place/__website/places__place__website__url-heading-second.css);
@import url(./__place/__paragraph/places__place__paragraph.css);

.places {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 986px;
	margin: auto;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.places {
		width: 986px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.places {
		width: 928px;
		padding-top: 102px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.places {
		width: 720px;
		padding-top: 102px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.places {
		width: 375px;
		padding-top: 64px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.places {
		width: 320px;
		padding-top: 64px;
	}
}	