.video__name {
  font-size: 24px;
    line-height: 26px;
    margin: 0;
    padding: 0 16px 4px 16px;
    width: 256px;
    font-weight: 900;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*small screen*/
@media screen and (min-width: 375px) {
  .video__name {
    padding: 0 24px 3px 24px;
  }
}
/*medium screen*/
@media screen and (min-width: 768px){
  .video__name {
		padding: 0 6px 3px 24px;
  }
}

/*big screen*/
@media screen and (min-width: 1024px){
  .video__name {
    padding: 0 104px 14px 30px;
    font-size: 36px;
    line-height: 39px;
    width: 322px;

  }
}

/*large screen*/
@media screen and (min-width: 1280px){
  .video__name {
    padding: 0 231px 14px 30px;
  }
}