@import url('./__caption/lead__caption.css');
@import url('./__image/lead__image.css');
@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');

.lead {
    padding: 48px 0 64px 0;
    margin: 0 auto;
    max-width: 984px;
    min-width: 320px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium screen*/
@media screen and (min-width: 768px) {
    .lead {
        padding: 48px 0 80px 0;
    }
}

