.cover__subtitle {
  width: 1094.27px;
  height: 69px;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 477px;
  left: 38.84px;
  color: #FFFDFD;
  text-align: center;
  margin: auto;
}
