.cover__subtitle {
  margin: 0;
    width: 382px;
    align-self: center;
    line-height: 23px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*small screen*/
@media (max-width: 375px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    width: 290px;
  }
}