.video__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
}

@media screen and (max-width: 375px){
  .video__content {
    width: 295px;
  }
}

@media screen and (max-width: 320px){
  .video__content {
    width: 256px;
  }
}