.comments__container__comment__author {
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin: 0;
	width: 382px;
	height: 13px;
	top: 221px;
	font-family: "Inter-Black", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
}

.comments__container__comment__author_last {
	top: 198px;
}
/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.comments__container__comment__author {
		width: 382px;
		top: 221px;
		font-size: 14px;
		line-height: 24px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.comments__container__comment__author {
		width: 296px;
		top: 205px;
		font-size: 14px;
		line-height: 24px;
	}	 
}

/*medium screen*/
@media screen and (max-width: 768px) {
	.comments__container__comment__author {
		width: 382px;
		top: 113px;
		font-size: 14px;
		line-height: 24px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.comments__container__comment__author {
		width: 343px;
		top: 113px;
		font-size: 14px;
		line-height: 24px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.comments__container__comment__author {
		width: 288px;
		top: 113px;
		font-size: 14px;
		line-height: 24px;
	}
}