@import url(./__logo/header__logo.css);
.header {
	padding: 34px 128px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 46px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.header {
		padding: 37px 48px 47px;
		min-height: 46px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.header {
		padding: 36px 48px 47px;
		min-height: 46px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.header {
		padding: 36px 24px 48px;
		min-height: 46px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.header {
		padding: 18px 16px 50px;
		min-height: 36px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.header {
		padding: 21px 16px 49px;
		min-height: 36px;
	}
}	
