.place__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 16px 37px 16px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 42px 0;
  }
}
