.place__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    margin: 0 16px 37px 16px;
    padding: 0;
}

.place__text:last-child {
    margin: 0 16px;
}

@media (min-width: 768px) {
    .place__text {
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 42px 0;
    }
    
    .place__text:last-child {
        margin: 0;
    }
}