.comments__title {
  margin: 0 0 27px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium screen*/
@media screen and (min-width: 768px) {
  .comments__title {
      margin: 0 0 42px 0;
      font-size: 42px;
      line-height: 45px;
  }
}

/*big screen*/
@media screen and (min-width: 1024px) {
  .comments__title {
      margin: 0 auto 58px;
      max-width: 800px;
      font-size: 72px;
      line-height: 78px;
  }
}