.places__place__title {
	margin: 0;
	font-family: "Inter-Black", sans-serif;
	width: 457px;
	font-size: 72px;
	line-height: 65px;
	color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.places__place__title {
		width: 457px;
		font-size: 72px;
		line-height: 65px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.places__place__title {
		width: 440px;
		font-size: 72px;
		line-height: 65px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.places__place__title {
		width: 340px;
		font-size: 42px;
		line-height: 46px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.places__place__title {
		width: 343px;
		font-size: 32px;
		line-height: 35px;
		padding: 0px 16px 0px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.places__place__title {
		width: 288px;
		font-size: 32px;
		line-height: 35px;
		padding: 0px 16px 0px;
	}
}	