.place__text-container {
  width: 484px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*big screen*/
@media (max-width: 1024px) {
  .place__text-container {
    width: 456px;
  }
}

/*medium screen*/
@media (max-width: 768px) {
  .place__text-container {
    width: 352px;
  }
}

/*small screen*/
@media (max-width: 375px) {
  .place__text-container {
    width: 90%;
    padding-left: 16px;
  }
}
