.lead__title {
  font-style: normal;
  font-family: "Inter-Black", sans-serif;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
  margin: 0 auto 8px;
  padding: 0;
  max-width: 782px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium screen*/
@media (max-width: 768px) {
  .lead__title {
    margin: 0 auto 48px;
  }
}	

/*medium-small screen*/
@media screen and (max-width: 750px) {
  .lead__title {
    width: auto;
    font-size: 66px;
    line-height: 63px;
  }
}

/*medium smaller screen*/
@media screen and (max-width: 510px) {
  .lead__title {
    width: auto;
    font-size: 66px;
    line-height: 63px;
  }
}


/*small screen*/
@media screen and (max-width: 375px) {
	.lead__title {
		width:auto;
		font-size: 40px;
		line-height: 44px;
	}
}	

