.lead__title {
	width: 782px;
	font-family: "Inter-Black", sans-serif;
	font-size: 96px;
	line-height: 93px;
	text-align: center;
	align-items: center;
	margin: auto;
	color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.lead__title {
		width: 782px;
		font-size: 96px;
		line-height: 93px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.lead__title {
		width: 928px;
		font-size: 96px;
		line-height: 93px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.lead__title {
		width: 720px;
		font-size: 96px;
		line-height: 93px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.lead__title {
		width: 343px;
		font-size: 40px;
		line-height: 44px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.lead__title {
		font-size: 40px;
		line-height: 44px;
	}
}	