.lead__title {
  font-style: normal;
  font-size: 96px;
  font-weight: 900;
  line-height: 93px;
  text-align: center;
  margin: 0 auto 8px;
  padding: 0;
  width: 928px;
}

/*smaller screen*/
@media screen and (min-width: 320px){
    .lead__title{
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}
/*small screen*/
@media screen and (min-width: 375px) {
	.lead__title {
		width:343px;
	}
}	 

/*medium screen*/
@media screen and (min-width: 768px) {
  .lead__title {
    margin: 0 auto 48px;
    width: 720px;
    font-size: 96px;
    line-height: 93px;
  }
}	

/*bid screen*/
@media screen and (min-width: 1024px) {
  .lead__title {
    width: 928px;
  }
}

/*large screen*/
@media screen and (min-width: 1280px) {
  .lead__title {
    width: 782px;
  }
}





