.video__duration {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin: 0;
  width: 322px;
  padding-left: 30px;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px){
  .video__duration {
    padding-bottom: 8px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 375px){
  .video__duration {
    width: 295px;
  }
}

@media screen and (max-width: 320px){
  .video__duration {
    width: 256px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
}