.video__duration {
  color: white;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: .3em;
    margin: 0;
    padding: 23px 192px 8px 16px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*small screen*/
@media screen and (min-width: 375px) {
  .video__duration {
    padding: 17px 264px 8px 24px;
  }
}

/*medium screen*/
@media screen and (min-width: 768px) {
  .video__duration {
    padding: 17px 273px 8px 24px;
  }
}

/*big screen*/
@media screen and (min-width: 1024px) {
  .video__duration {
    padding: 54px 371px 12px 30px;
  }
}

/*large screen*/
@media screen and (min-width: 1280px) {
  .video__duration {
    padding: 94px 498px 12px 30px;
  }
}