.video__icon {
  width: 41px;
  height: 41px;
  padding-bottom: 94px;
    padding-left: 30px;
    padding-top: 30px;
}


@media screen and (max-width: 1024px){
  .video__icon {
    padding-bottom: 54px;
  }
}

@media screen and (max-width: 768px){
  .video__icon {
    padding-bottom: 17px;
    padding-left: 24px;
    padding-top: 24px;
  }
}

@media screen and (max-width: 375px){
  .video__icon {
    padding-bottom: 41px;
  }
}

@media screen and (max-width: 320px){
  .video__icon {
    padding-bottom: 23px;
    padding-left: 16px;
    padding-top: 16px;
  }
}