.video__icon {
  width: 41px;
  height: 41px;
  margin: 0;
  padding: 16px 0 0 16px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*smaller screen*/
@media screen and (min-width: 375px) {
    .video__icon {
      padding: 24px 0 0 24px;
    }
}

/*big screen*/
@media screen and (min-width: 1024px) {
    .video__icon {
      padding: 30px 0 0 30px;
    }
}