.place__paragraph {
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
  width: 484px;
  margin-top: 0;
  margin-left: 16px;
  margin-bottom: 37px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0px;
}


@media (min-width: 768px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin-left: 28px;
   
  }
}
