.footer__copyright {
  font-size: 14px;
  width: 282px;
  height: 13px;
  margin: 0;
  margin-left: 528px;
  align-self: flex-end;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.footer__copyright {
    width:282px;
    font-size: 14px;
    line-height: 20px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.footer__copyright {
    width:282px;
    margin-left: 231px;
    font-size: 14px;
    line-height: 20px;
	}	 
}

/*medium screen*/
@media screen and (max-width: 768px) {
	.footer__copyright {
    width:167px;
    font-size: 14px;
    line-height: 20px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.footer__copyright {
    width: 282px;
		height: 202px;
    padding-top: 64px;
    margin-left: 0;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.footer__copyright {
    width: 167px;
		height: 202px;
    padding-top: 64px;
    margin-left: 0;
	}
}