.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin: 48px 0 0 0;
    padding: 0;
}

@media (min-width: 768px) {
    .footer__copyright {
        margin: 0;
    }
}