.video__text {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 322px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*smaller  screen*/
@media (min-width: 320px) {
  .video__text {
      padding: 0 24px 24px 24px;
  }
}
/*small screen*/
@media (min-width: 375px) {
  .video__text {
      padding: 0 30px 30px 30px;
  }
}
