.video__title {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 72px;
  line-height: 39px;
  color: #FFFFFF;
}
/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium*/
@media screen and (max-width: 768px) {
	.video__title {
    width: auto;
		font-size: 42px;
    line-height: 107.64%;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.video__title {
    width: auto;
		font-size: 32px;
		line-height: 35px;
	}	
}

