.lead__image {
	width:100%;
	height: auto;
	padding-top: 67px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/

/*large screen*/
@media screen and (max-width: 1280px) {
	.lead__image {
		width:100%;
		
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.lead__image {
		width:100%;
	}
}

/*medium screen*/
@media screen and (max-width: 768px) {
	.lead__image {
		width:100%;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.lead__image {
    width:100%;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.lead__image {
    width:100%;
	}
}