.lead__image {
  width: 100%;
  margin: 0 0 8px 0;
  align-self: center;
}

/*Use these checkpoints: 320, 768, 1024, 1280*/
/*medium screen*/
@media screen and (min-width: 768px) {
  .lead__image {
    width: 100%;
    }
}

/*large screen*/
@media screen and (min-width: 1280px) {
    .lead__image {
        margin: 0 0 8px 0;
    }
}