.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 32px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium screen*/
@media screen and (min-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

/*big screen*/
@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}