.comments__content-title {
	width: 800px;
	height: 157px;
	margin: 0;
  align-self: center;
  font-family: "Inter-Black", sans-serif;
	font-size: 72px;
	line-height: 108.9%;
	text-align: center;
	color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.comments__content-title {
		width: 800px;
		font-size: 72px;
		line-height: 108.9%;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.comments__content-title {
		width: 800px;
		font-size: 72px;
		line-height: 108.9%;
	}	 
}

/*medium screen*/
@media screen and (max-width: 768px) {
	.comments__content-title {
		width: 660px;
		font-size: 42px;
		line-height: 46px
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.comments__content-title {
		width: 343px;
		font-size: 32px;
		line-height: 35px
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.comments__content-title {
		width: 288px;
		font-size: 32px;
		line-height: 35px
	}
}