@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__text/intro__text.css');


.intro {
  padding: 0 16px 72px 16px;
  margin: 0 auto;
  max-width: 984px;
  
}

/*Use these checkpoints: 320, 768, 1024, 1280*/
/*small screen*/
@media screen and (min-width: 320px) {
  .intro {
    padding: 0 24px 88px 24px;
  }
}

/*medium screen*/
@media screen and (min-width: 768px) {
  .intro {
    padding: 0 24px 88px 24px;
  }
}
