.cover__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  /*width: 1094px*/;
  width: 100%;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*big screen*/
/*@media screen and (max-width: 1024px) {
	.cover__text {
    /*width: 1021px;*/
    /*top: 240px;
    left: -16.5px;
	}	 
}

/*@media screen and (max-width: 768px) {
	.cover__text {
    /*width: 720px;*/
    /*top: 165px;
    left: 24px;
	}	 
}


/*@media screen and (max-width: 375px) {
	.cover__text {
    /*width: 343px;*/
    /*top: 104px;
    left: 16px;
	}	 
}


/*@media screen and (max-width: 320px) {
	.cover__text {
    /*width: 288px;*/
    /*top: 64px;
    left: 16px;
	}	 
}