.comments__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 47px auto;
    padding: 0;
    max-width: 382px;
}

.comments__item:last-child {
    margin: 0 auto;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*big screen*/
@media screen and (min-width: 1024px) {
    .comments__item {
        align-items: flex-start;
        margin: 0;
    }
}