.lead__subtitle {
	font-size: 30px;
	line-height: 36px;
	width: 583px;
	height: 65px;
	left: 429px;
	padding-top: 48px;
	text-align: center;
	align-items: center;
	margin: auto;
	color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.lead__subtitle {
		width: 583px;
		font-size: 30px;
		line-height: 36px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.lead__subtitle {
		width: 928px;
		font-size: 30px;
		line-height: 36px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.lead__subtitle {
		width: 720px;
		font-size: 30px;
		line-height: 36px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.lead__subtitle {
		width: 375px;
		font-size: 16px;
		line-height: 23px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.lead__subtitle {
		width: 288px;
		font-size: 16px;
		line-height: 23px;
	}
}	