.places__place {
	padding-top: 72px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.places__place {
		padding-top: 72px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.places__place {
		padding-top: 102px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.places__place {
		padding-top: 111px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.places__place {
		padding-top: 64px;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.places__place {
		padding-top: 64px;
	}
}	