.video__subtitle {
	max-width: 640px;
	min-width: 288px;
	margin: auto;
	margin-top: 37px;
  align-self: center;
	font-style: normal;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/

/*smaller screen*/
@media screen and (min-width: 320px) {
	.video__subtitle {
    width: 288px;
    margin-top: 25px;
		
		font-size: 16px;
		line-height: 23px;
	}
}	

/*small screen*/
@media screen and (min-width: 375px) {
	.video__subtitle {
    width: 340px;
    margin-top: 31px;
		
		font-size: 16px;
		line-height: 23px;
	}
}	

/*medium screen*/
@media screen and (min-width: 768px) {
	.video__subtitle {
		width: 640px;
		
		font-size: 24px;
		line-height: 35px;
	}	
}


/*big screen*/
@media screen and (min-width: 1024px) {
	.video__subtitle {
		width: 640px;
		
		font-size: 24px;
		line-height: 35px;
	}
}	

/*large screen*/
@media screen and (min-width: 1280px) {
	.video__subtitle {
		width: 640px;
		
		font-size: 24px;
		line-height: 35px;
	}
}	

