.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0;
    margin: 0 16px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium screen*/
@media (min-width: 768px) {
    .lead__caption {
        margin: 0 24px;
    }
}

/*big screen*/
@media (min-width: 1024px) {
    .lead__caption {
        margin: 0 48px;
    }
}