
.cover__title {
  margin: 0;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  left: 38px;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  width: 1094px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 1021px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 720px;
  }
}

@media screen and (max-width: 375px) {
  .cover__title {
    font-size: 32px;
    width: 343px;
    height: 80px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 288px;
    height: 72px;
  }
}