
.cover__title {
  margin: 0;
  padding-top: 274px;
  padding-bottom: 134px;  
  color: #FFFFFF;
  text-align: center;
  align-self: center; 
  font-size: 72px;
  font-family: "Inter-Black";
}

@media (max-width: 1024px) {
  .cover__title {
    padding-top: 240px;
    padding-bottom: 181px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    padding-top: 165px;
    padding-bottom: 127px;
  }
}

@media (max-width: 375px) {
  .cover__title {
    font-size: 32px;
    padding-top: 104px;
    padding-bottom: 55px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    padding-top: 64px;
    padding-bottom: 40px;
  }
}