@import url(./__title/place__title.css);
@import url(./__url-container/place__url-container.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__image/place__image.css);
@import url(./__text/place__text.css);


.place {
    padding: 60px 0 0 0;
    margin: 0 auto;
    max-width: 984px;
}

@media (min-width: 768px) {
    .place {
        padding: 90px 24px 0 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-gap: 28px 40px;
    }
}

@media (min-width: 1024px) {
    .place {
        padding: 90px 48px 0 48px;
        grid-gap: 32px 40px;
    }
}

@media (min-width: 1280px) {
    .place {
        grid-gap: 60px 40px;
    }
}