@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__item/footer__item.css);
@import url(./__items/footer__items.css);


.footer {
  padding: 64px 16px 22px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1184px;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*big screen*/
@media (min-width: 1024px) {
  .footer {
      padding: 160px 48px 48px 48px;
  }
}
/*medium screen*/
@media (min-width: 768px) {
  .footer {
      padding: 102px 24px 24px 24px;
      flex-direction: row;
      align-items: center;
  }
}