@import url(./__links/_link/footer__links_link.css);
.footer__links{
	margin: 0;
	display: flex;
	padding: 0;
	list-style-type: none;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.footer__links {
    margin: 0;
	display: flex;
	padding: 0;
	list-style-type: none;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.footer__links {
    margin: 0;
		display: flex;
		padding: 0;
		list-style-type: none;
	}	 
}

/*medium screen*/
@media screen and (max-width: 768px) {
	.footer__links {
    margin: 0;
		display: flex;
		padding: 0;
		list-style-type: none;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.footer__links {
    margin: 0;
		display: block;
		padding: 0;
		padding-top: 32px;
		list-style-type: none;
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.footer__links {
    margin: 0;
		display: block;
		padding: 0;
		padding-top: 32px;
		list-style-type: none;
	}
}