.place__url {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.place__url:hover {
    opacity: 40%;
    transition: opacity 2s ease;
}

