@import url(./__item/video__container__item.css);
.video__container {
	width: 1184px;
	display: flex;
	flex-wrap: wrap;  
	justify-content: space-between;
	padding-top: 72px;
	position: relative;
	margin: auto;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.video__container {
		width: 986px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.video__container {
		width: 928px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.video__container {
		width: 720px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.video__container {
		width: 375px;
		display: block;
		/*justify-content: center;*/
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.video__container {
		width: 320px;
		display: block;
		/*justify-content: center;*/
	}
}	
