.intro__title {
	font-family: "Inter-Black", sans-serif;
	font-size: 54px;
	line-height: 59px;
	width: 683px;
	height: 113px;
	color: #FFFFFF;
	margin: 0;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*large screen*/
@media screen and (max-width: 1280px) {
	.intro__title {
		width: 683px;
	}
}	

/*big screen*/
@media screen and (max-width: 1024px) {
	.intro__title {
		width: 928px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.intro__title {
		width: 720px;
	}	
}

/*small screen*/
@media screen and (max-width: 375px) {
	.intro__title {
		width: 343px;
		font-size: 32px;
		line-height: 35px
	}
}	

/*smaller screen*/
@media screen and (max-width: 320px) {
	.intro__title {
		width: 288px;
		font-size: 32px;
		line-height: 35px
	}
}	