.intro__title {
    font-style: normal;
    font-family: "Inter-Black", sans-serif;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 34px 0;
    padding: 0;
}

/*Use these checkpoints: 320, 375, 768, 1024, 1280*/
/*medium screen*/
@media (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 59px;
        margin: 0 0 46px 0;
    }
}

/*big screen*/
@media (min-width: 1024px) {
    .intro__title {
        max-width: 682px;
    }
}