.places__place__paragraph {
	margin-top: 30px;
	width: 484px;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF
}

.places__place__paragraph:first-of-type {
	margin-top: 60px;
}

/*smaller screen*/
@media screen and (max-height: 425px) {
	.places__place__paragraph {
		margin-top: 26px;
	}	

	.places__place__paragraph:first-of-type {
		margin-top: 24px;
	}

}